# Build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo
.project
.classpath
.settings/
.factorypath
bin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Banco de dados local
*.db
*.mv.db
*.trace.db
